<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>{% block title %}(no title) {% endblock %}</title>
    {% include 'bootstrap_cdn.html' %}
    {% block head %}
    {% endblock %}
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>